[Unit]
Description=Checks for Scheduled Events - Terminate Notifications

[Service]
Type=oneshot
ExecStart=/usr/bin/python <full path of termnot.py file here>

[Install]
WantedBy=multi-user.target
